
{% extends "base.html" %}

{% block content %}

<style>
.table-emerald thead {
    background-color: #10b981;
    color: white;
}

.table-emerald tbody tr:hover {
    background-color: #d1fae5;
}

.table-emerald td:hover,
.table-emerald th:hover {
    background-color: #6ee7b7;
}

.table-emerald td,
.table-emerald th {
    transition: background-color 0.2s;
}
</style>

<div class="container mt-4" style="max-width: 1000px;">

<table class="table table-bordered table-striped text-center table-emerald">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">status</th>
      <th scope="col">priority</th>
    </tr>
  </thead>

  <tbody>
  {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      {% if task.description is not None %}
         <td>{{ task.description }}</td>
      {% else  %}
        <td></td>
      {% endif  %}
      <td>{{ task.status }}</td>
      <td>{{ task.priority }}</td>
    </tr>
  {% endfor %}
  </tbody>

</table>

</div>

{% endblock %}
