{% extends "base.html" %}
{% load static %}
{% block content %}



{% load cache %}
{% cache 1200 users_table using="filesystem_cache" %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
  {%for user in users%}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>
        <img src="{% static user.photo %}" alt="{{ user.name }}" width="50">
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endcache %}

{% endblock %}